/* __________General_____________ */
.main-color {
    color: #e65f78 !important
}

.main-backgroundColor {
    background-color: #e65f78;
}

body {
    font-family: 'Nunito', sans-serif;
}

.subtitle {
    max-width: 500px;
    margin: auto;
}

html{
    scroll-behavior: smooth;
}


/* __________Home_____________ */
.navbar-light .navbar-nav .active>.nav-link {
    color: #e65f78;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e65f78;
}

#home {
    min-height: 100vh;
    background-image: url(../imgs/header-bg.jpg);
    background-position: center center;
    background-size: cover;
}

#home .layer {
    background-color: rgba(0, 0, 0, .7);
}

h1 {
    font-size: 54px;
}

#home p {
    color: rgba(255, 255, 255, 0.75) !important;
    margin: 30px 0;
}

#home button {
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 15px;
}

#home button:hover {
    background-color: white;
    color: black !important;
}

#home .scroll {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 3s infinite linear;
    cursor: pointer;
}

#home .scroll::after {
    content: "";
    width: 3px;
    height: 10px;
    position: absolute;
    background-color: white;
    bottom: 10px;
    transform: translateX(-50%);
}

@keyframes scroll {

    0% {
        bottom: 50px;
    }

    10% {
        bottom: 100px;
    }

    20% {
        bottom: 50px;
    }

    30% {
        bottom: 80px;
    }

    40% {
        bottom: 50px;
    }

    50% {
        bottom: 70px;
    }

    60% {
        bottom: 50px;
    }

    70% {
        bottom: 60px;
    }

    80% {
        bottom: 50px;
    }

    90% {
        bottom: 50px;
    }

    100% {
        bottom: 50px;
    }
}

#home .settings {
    top: 20%;
    background-color: #2b2424;
    padding: 10px 10px;
    border-radius: 5px;
}

#home .settings i {
    font-size: 20px;
}

#home .up-icon {
    bottom: 30px;
    right: 40px;
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e65f78;
}

#home h1::after {
    content: "";
    animation: slider 10s linear infinite;
}

@keyframes slider {
    0% {
        content: "K|";
    }

    1% {
        content: "Ke|";
    }

    2% {
        content: "Ker|";
    }

    3% {
        content: "Kerr.|";
    }

    4% {
        content: "Kerri|";
    }

    5% {
        content: "Kerri |";
    }

    6% {
        content: "Kerri D|";
    }

    7% {
        content: "Kerri De|";
    }

    8% {
        content: "Kerri Deo|";
    }

    9% {
        content: "Kerri Deo.|";
    }

    10% {
        content: "Kerri Deo|";
    }

    11% {
        content: "Kerri De|";
    }

    12% {
        content: "Kerri D|";
    }

    13% {
        content: "Kerri |";
    }

    14% {
        content: "Kerri|";
    }

    15% {
        content: "Kerr|";
    }

    16% {
        content: "Ker|";
    }

    17% {
        content: "Ke|";
    }

    18% {
        content: "K|";
    }

    19% {
        content: "|";
    }

    20% {
        content: "A|";
    }

    21% {
        content: "A |";
    }

    22% {
        content: "A P|";
    }

    23% {
        content: "A Ph|";
    }

    25% {
        content: "A Pho|";
    }

    26% {
        content: "A Phot|";
    }

    27% {
        content: "A Photo|";
    }

    28% {
        content: "A Photog|";
    }

    29% {
        content: "A Photogr|";
    }

    30% {
        content: "A Photogra|";
    }

    31% {
        content: "A Photograp|";
    }

    32% {
        content: "A Photograph|";
    }

    33% {
        content: "A Photographe|";
    }

    34% {
        content: "A Photographer|";
    }

    35% {
        content: "A Photographer.|";
    }

    36% {
        content: "A Photographer|";
    }

    37% {
        content: "A Photographe|";
    }

    38% {
        content: "A Photograph|";
    }

    39% {
        content: "A Photograp|";
    }

    40% {
        content: "A Photogra|";
    }

    41% {
        content: "A Photogr|";
    }

    42% {
        content: "A Photog|";
    }

    43% {
        content: "A Photo|";
    }

    44% {
        content: "A Phot|";
    }

    45% {
        content: "A Pho|";
    }

    46% {
        content: "A Ph|";
    }

    47% {
        content: "A P|";
    }

    48% {
        content: "A |";
    }

    49% {
        content: "A|";
    }

    50% {
        content: "|";
    }

    51% {
        content: "A|";
    }

    52% {
        content: "A |";
    }

    53% {
        content: "A G|";
    }

    54% {
        content: "A Gr|";
    }

    55% {
        content: "A Gra|";
    }

    56% {
        content: "A Grap|";
    }

    57% {
        content: "A Graph|";
    }

    58% {
        content: "A Graphi|";
    }

    59% {
        content: "A Graphic|";
    }

    60% {
        content: "A Graphic |";
    }

    61% {
        content: "A Graphic D|";
    }

    62% {
        content: "A Graphic De|";
    }

    63% {
        content: "A Graphic Des|";
    }

    64% {
        content: "A Graphic Desi|";
    }

    65% {
        content: "A Graphic Desig|";
    }

    66% {
        content: "A Graphic Design|";
    }

    67% {
        content: "A Graphic Designe|";
    }

    68% {
        content: "A Graphic Designer|";
    }

    69% {
        content: "A Graphic Designer.|";
    }

    70% {
        content: "A Graphic Designer|";
    }

    71% {
        content: "A Graphic Designe|";
    }

    72% {
        content: "A Graphic Design|";
    }

    73% {
        content: "A Graphic Desig|";
    }

    74% {
        content: "A Graphic Desi|";
    }

    75% {
        content: "A Graphic Des|";
    }

    76% {
        content: "A Graphic De|";
    }

    77% {
        content: "A Graphic D|";
    }

    78% {
        content: "A Graphic |";
    }

    79% {
        content: "A Graphic|";
    }

    80% {
        content: "A Graphi|";
    }

    81% {
        content: "A Graph|";
    }

    82% {
        content: "A Grap|";
    }

    83% {
        content: "A Gra|";
    }

    84% {
        content: "A Gr|";
    }

    85% {
        content: "A G|";
    }

    86% {
        content: "A |";
    }

    87% {
        content: "A|";
    }

    88% {
        content: "|";
    }

    89% {
        content: "";
    }

    90% {
        content: "";
    }

    91% {
        content: "";
    }

    92% {
        content: "";
    }

    93% {
        content: "";
    }

    94% {
        content: "";
    }

    95% {
        content: "";
    }

    96% {
        content: "";
    }

    97% {
        content: "";
    }

    98% {
        content: "";
    }

    99% {
        content: "";
    }

    100% {
        content: "";
    }
}


/* __________Services_____________ */
#services .services-item i{
    font-size: 50px;
}

#services .services-item{
    border: 1px solid #e8e8e8;
}

#services .services-item .services-line{
    width: 15%;
    height: 2px;
    transition: .3s;
}

#services .services-item:hover  .services-line{
    width: 20%;
}


/* __________Client_____________ */
#client .client_review{
    width: 750px;
    margin: auto;
}

#client .client-item i{
    font-size: 40px;
}

.carousel-indicators .active{
    color: #e65f78 !important;
    opacity: 1;
    width: 20px;
}

.carousel-indicators li{
    color: #e65f78;
    background-color: #e65f78;
    width: 12px;
    height: 6px;
    border-radius: 20px;
    border: 1px solid transparent;
}

.nav-pills .nav-link.active{
    background-color: #e65f78;
    border-radius: 30px;
}

.nav-pills .nav-link{
    color: black;
}

#works .layer{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: .5s;
}

#works .layer .layer-content{
    transform: translateY(150%);
    transition: .5s;
}

#works .works-item:hover .layer{
    opacity: 1;
}
#works .works-item:hover .layer-content{
    transform: translateY(0);
}

#works .works-item:hover img{
    transform: scale(1.1);
}

#works .works-item img{
    transition: .5s;
}

#works .works-item{
    overflow: hidden;
    cursor: pointer;
}


.page-section
{
   background-color: #e8e8e8;
}